.content h1{
    color: orange;
    text-align: center;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(77, 74, 74, 0.75),rgba(102, 99, 99, 0.75)),url(Background.png);
    background-size: cover;
    background-position: center;
}
.content b u{
    color: orange;
}