*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 102vh;
    background-image: linear-gradient(rgba(65, 13, 108, 0.75),rgba(65, 13, 108, 0.75)),url(Background.png);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    position: absolute;
    top: 0;
    transform: translate(0);
    text-align: center;
    color: #fcf9f9;
    font-weight: bolder;
}
.navbar h1{
    color: orange;
}
.content{
    width: 100%;
    position: absolute;
    top: 40%;
    transform: translate(0);
    text-align: center;
    color: rgb(249, 247, 247);
    font-weight: bolder;
}
.content p a{
    text-decoration: none;
    color: #110970;
    text-transform: uppercase;
}
.content h1{
    color: orange
}
.content h2 a{
    color: orange;
}
