*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(65, 13, 108, 0.75),rgba(65, 13, 108, 0.75)),url(Background.png);
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: orange;
}
.banner h2{
    color: orange;
}
.banner li a{
    color: white;
}